# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual env
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Streamlit config
.streamlit/

# API keys or secrets
*.env
